$blue: rgb(89, 150, 249);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$orange: rgb(234, 173, 18);
$lightorange: rgb(245, 229, 182);
$grey: rgb(99, 99, 99);
$lightbrown: rgb(246, 243, 241);
$lightred: rgb(255, 255, 255);
$lightgrey: rgb(243, 241, 241);
$red: rgb(160, 20, 20);
$lightred: rgb(249, 203, 203);
$green: rgb(15, 148, 15);
$lightgreen: rgb(229, 255, 229);
$secondarytext: rgb(162, 161, 161);
$darkblue: rgb(21, 0, 128);
$lightblue: rgb(185, 219, 230);


$regular-fonts: "Quicksand", sans-serif;
$main-header-font: 'Josefin Sans', sans-serif;