$blue: rgb(89, 150, 249);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$orange: rgb(234, 173, 18);
$lightorange: rgb(245, 229, 182);
$grey: rgb(99, 99, 99);
$lightbrown: rgb(246, 243, 241);
$lightred: rgb(246, 242, 242);
$lightgrey: rgba(255, 255, 255, 0.597);
$red: rgb(189, 22, 22);
$lightred: rgb(249, 203, 203);
$green: rgb(15, 148, 15);
$lightgreen: rgb(229, 255, 229);