@import "../Colors/Colors.scss";

.navBar {
  background-color: $blue;
  width: 100%;
  margin: auto;
  // position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  line-height: 1.5;
    // h1 {
    //   // flex-grow: 1;
    //   // padding-left: 50px;
    // }
    .nav-menu {
      margin-top: 25px;
    li {
      display: inline;
      padding: 20px 20px 20px 20px;
      width: 100%;

      a {
        text-decoration: none;
        display: block;
        width: 100%;
        color: $grey;
        padding: 20px;
        margin-bottom: -15px;
        background-color: $white;
        font-weight: bold;
        border-radius: 5px;
        &:hover {
          color: $orange;
          background-color: $lightorange;
          font-weight: 400;
          transition: all 0.1s ease-in;
          border-radius: 5px;
          font-weight: bold;
        //   border-bottom: 1px solid $black;
        }
      }
    }
  }

}

.admin-details{
    padding-right: 10px;
    color: $black;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .profile-pic{
        img{
            border-radius: 50%;
            border: 2px solid $white;
        }
    }
    .profile-name{
        margin-left: 10px;
    }
}

.navBar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%  ;
  margin: auto;
}

.navBar {
    position: relative;
    width: 100vw;
    margin: 0;
    margin: none;
    padding : 10px 0;
    min-height: 20px;
    // display: inline-block;
    font-size: 0.9rem;
    line-height: 0;
    // overflow-x: hidden;
    
  }
  .navBar-container{
    width: 100%;
    padding: 0px 10px;
    // height: auto;
    }

    .navIcon{
        font-size: 1.5rem;
        padding-left: 10px;
        color: $white;
    }
    
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 20%;
        height: 100vh;
        position: absolute;
        top: 43px;
        left: -100%;
        opacity: 1;
        padding-top: 30px;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background-color: $black;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding: 0;
    }
    // .navLinks{
    //     text-align: center;
    //     width: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     font-size: 1.1rem;
    //     // &hover{
    //     //     background-color: $lightbrown;
    //     //     border-radius: 0;
    //     // }
    // }
